Repository FloEdelmann/vue-ts-types: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, markdownlint, build, test, type-test

eslint:
  run: npx eslint {staged_files}
  fail_text: Please fix the ESLint issues before committing. Try `npx eslint --fix .`.

markdownlint:
  run: npx markdownlint {staged_files}
  fail_text: Please fix the markdownlint issues before committing. Try `npx markdownlint --fix .`.

build:
  run: npm run build
  fail_text: Please fix the build issues before committing. Try `npm run build`.

test:
  run: npm run test
  fail_text: Please fix the test issues before committing. Try `npm run test:watch`.

type-test:
  run: npm run type-test
  fail_text: Please fix the type test issues before committing. Try `npm run type-test`.

Install lefthook (#527)
  .gitignore
  lefthook.yaml
  package-lock.json
  package.json
Due: none

Increase `jest/prefer-called-with` rule severity
  eslint.config.mjs
Due: eslint

Install @jest/globals instead of @types/jest
  package-lock.json
  package.json
Due: none

Enable `jest/prefer-importing-jest-globals` lint rule
  eslint.config.mjs
Due: eslint

Add `import … from '@jest/globals'` statements
  tests/prop-types/any.spec.ts
  tests/prop-types/array.spec.ts
  tests/prop-types/boolean.spec.ts
  tests/prop-types/function.spec.ts
  tests/prop-types/instanceOf.spec.ts
  tests/prop-types/integer.spec.ts
  tests/prop-types/number.spec.ts
  tests/prop-types/object.spec.ts
  tests/prop-types/oneOf.spec.ts
  tests/prop-types/oneOfObjectKeys.spec.ts
  tests/prop-types/oneOfTypes.spec.ts
  tests/prop-types/string.spec.ts
  tests/prop-types/symbol.spec.ts
  tests/prop-types/vueComponent.spec.ts
  tests/validators/index.spec.ts
  tests/validators/isInstanceOf.spec.ts
  tests/validators/isInteger.spec.ts
  tests/validators/isNegative.spec.ts
  tests/validators/isNonNegative.spec.ts
  tests/validators/isNonPositive.spec.ts
  tests/validators/isOneOf.spec.ts
  tests/validators/isPositive.spec.ts
  tests/validators/isSymbol.spec.ts
Due: eslint, test

Fix jest-extended typing
  global.d.ts
Due: eslint

Add dependabot group to sync `jest` and `@jest/globals` updates
  .github/dependabot.yaml
Due: none

Switch to `@jest/globals` (#532)
  .github/dependabot.yaml
  eslint.config.mjs
  global.d.ts
  package-lock.json
  package.json
  tests/prop-types/any.spec.ts
  tests/prop-types/array.spec.ts
  tests/prop-types/boolean.spec.ts
  tests/prop-types/function.spec.ts
  tests/prop-types/instanceOf.spec.ts
  tests/prop-types/integer.spec.ts
  tests/prop-types/number.spec.ts
  tests/prop-types/object.spec.ts
  tests/prop-types/oneOf.spec.ts
  tests/prop-types/oneOfObjectKeys.spec.ts
  tests/prop-types/oneOfTypes.spec.ts
  tests/prop-types/string.spec.ts
  tests/prop-types/symbol.spec.ts
  tests/prop-types/vueComponent.spec.ts
  tests/validators/index.spec.ts
  tests/validators/isInstanceOf.spec.ts
  tests/validators/isInteger.spec.ts
  tests/validators/isNegative.spec.ts
  tests/validators/isNonNegative.spec.ts
  tests/validators/isNonPositive.spec.ts
  tests/validators/isOneOf.spec.ts
  tests/validators/isPositive.spec.ts
  tests/validators/isSymbol.spec.ts
Due: eslint, test

Add GitHub Actions badge
  README.md
Due: markdownlint

Fix link
  README.md
Due: markdownlint

Lint
  README.md
Due: markdownlint

Add GitHub Actions badge to readme (#535)
  README.md
Due: markdownlint

Set `injectGlobals` to false in Jest config
  jest.config.ts
Due: eslint

Restore jest-extended
  jest-setup.ts
  jest.config.ts
Due: eslint

Move jest setup file into test folder
  jest.config.ts
  tests/jest-setup.ts
Due: eslint, test

Simplify globs
  jest.config.ts
  tstyche.config.json
Due: eslint

Use ts-jest's newer esbuild/swc preset
  jest.config.ts
Due: eslint

Jest config update (#545)
  jest.config.ts
  tests/jest-setup.ts
  tstyche.config.json
Due: eslint, test

Version 1.6.2
  package-lock.json
  package.json
Due: none

Update changelog for v1.6.2
  CHANGELOG.md
Due: markdownlint

Convert MarkdownLint config from YAML to JSON
  .markdownlint.json
  .markdownlint.yaml
Due: none

Convert Lefthook config from YAML to JSON
  lefthook.json
  lefthook.yaml
Due: none

Convert some YAML config files to JSON (#550)
  .markdownlint.json
  .markdownlint.yaml
  lefthook.json
  lefthook.yaml
Due: none

Fix `package-json/sort-collections` lint issue
  package.json
Due: none

Fix `package-json/order-properties` lint issue
  package.json
Due: none

Install eslint-plugin-package-json
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint

Install `eslint-plugin-package-json` (#569)
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint

Rename deprecated ESLint rule
  eslint.config.mjs
Due: eslint

Upgrade TSTyche
  CONTRIBUTING.md
  package-lock.json
  package.json
  type-tests/prop-types/any.type.spec.ts
  type-tests/prop-types/array.type.spec.ts
  type-tests/prop-types/boolean.type.spec.ts
  type-tests/prop-types/function.type.spec.ts
  type-tests/prop-types/instanceOf.type.spec.ts
  type-tests/prop-types/integer.type.spec.ts
  type-tests/prop-types/number.type.spec.ts
  type-tests/prop-types/object.type.spec.ts
  type-tests/prop-types/oneOf.type.spec.ts
  type-tests/prop-types/oneOfObjectKeys.type.spec.ts
  type-tests/prop-types/oneOfTypes.type.spec.ts
  type-tests/prop-types/string.type.spec.ts
  type-tests/prop-types/symbol.type.spec.ts
  type-tests/prop-types/vueComponent.type.spec.ts
  type-tests/types.type.spec.ts
  type-tests/validators/isInstanceOf.type.spec.ts
  type-tests/validators/isInteger.type.spec.ts
  type-tests/validators/isNegative.type.spec.ts
  type-tests/validators/isNonNegative.type.spec.ts
  type-tests/validators/isNonPositive.type.spec.ts
  type-tests/validators/isOneOf.type.spec.ts
  type-tests/validators/isPositive.type.spec.ts
  type-tests/validators/isSymbol.type.spec.ts
Due: eslint, markdownlint, type-test

Upgrade TSTyche (#574)
  CONTRIBUTING.md
  package-lock.json
  package.json
  type-tests/prop-types/any.type.spec.ts
  type-tests/prop-types/array.type.spec.ts
  type-tests/prop-types/boolean.type.spec.ts
  type-tests/prop-types/function.type.spec.ts
  type-tests/prop-types/instanceOf.type.spec.ts
  type-tests/prop-types/integer.type.spec.ts
  type-tests/prop-types/number.type.spec.ts
  type-tests/prop-types/object.type.spec.ts
  type-tests/prop-types/oneOf.type.spec.ts
  type-tests/prop-types/oneOfObjectKeys.type.spec.ts
  type-tests/prop-types/oneOfTypes.type.spec.ts
  type-tests/prop-types/string.type.spec.ts
  type-tests/prop-types/symbol.type.spec.ts
  type-tests/prop-types/vueComponent.type.spec.ts
  type-tests/types.type.spec.ts
  type-tests/validators/isInstanceOf.type.spec.ts
  type-tests/validators/isInteger.type.spec.ts
  type-tests/validators/isNegative.type.spec.ts
  type-tests/validators/isNonNegative.type.spec.ts
  type-tests/validators/isNonPositive.type.spec.ts
  type-tests/validators/isOneOf.type.spec.ts
  type-tests/validators/isPositive.type.spec.ts
  type-tests/validators/isSymbol.type.spec.ts
Due: eslint, markdownlint, type-test

Enable new `jest/prefer-jest-mocked` ESLint rule
  eslint.config.mjs
Due: eslint

Ordering alphabetically is hard
  eslint.config.mjs
Due: eslint

Remove no longer needed VS Code setting
  .vscode/settings.json
Due: none

Change to ESM modules by default
  .vscode/settings.json
  eslint.config.js
  lefthook.json
  package.json
  tsconfig.json
Due: none

Remove no longer needed VS Code settings (#589)
  .vscode/settings.json
  eslint.config.js
  lefthook.json
  package.json
  tsconfig.json
Due: none

Fix security vulnerabilities
  package-lock.json
Due: none

Add new rules and ignore lint issue
  eslint.config.js
  type-tests/utils.ts
Due: eslint, type-test

Report and remove unused disabled eslint-disable directives
  eslint.config.js
  src/validators/index.ts
Due: eslint, build, test, type-test

Improve config typing
  eslint.config.js
Due: none

Enable and fix new rules
  eslint.config.js
  global.d.ts
  src/prop-types/function.ts
  type-tests/prop-types/function.type.spec.ts
Due: eslint, build, test, type-test

Path conditions:
  eslint: any of: *.{mjs,ts}
  markdownlint: any of: *.md
  build: any of: src/**
  test: any of: {src,tests}/**
  type-test: any of: {src,type-tests}/**
