Repository FloEdelmann/vue-ts-types: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, markdownlint, build, test, type-test

eslint:
  run: npx eslint {staged_files}
  fail_text: Please fix the ESLint issues before committing. Try `npx eslint --fix .`.

markdownlint:
  run: npx markdownlint {staged_files}
  fail_text: Please fix the markdownlint issues before committing. Try `npx markdownlint --fix .`.

build:
  run: npm run build
  fail_text: Please fix the build issues before committing. Try `npm run build`.

test:
  run: npm run test
  fail_text: Please fix the test issues before committing. Try `npm run test:watch`.

type-test:
  run: npm run type-test
  fail_text: Please fix the type test issues before committing. Try `npm run type-test`.

Switch to named config
  eslint.config.mts
Due: none

Remove no longer needed references to mjs files
  eslint.config.mts
Due: none

Stricter ESLint config
  eslint.config.mts
Due: none

Update ESLint config to adapt to new exported config
  eslint.config.mts
Due: none

Enable linting .mts files
  eslint.config.mts
Due: none

Enable new rules
  eslint.config.mts
Due: none

Add engines field to package.json
  package.json
Due: none

Downgrade module to node16
  tsconfig.json
Due: none

Enable typecheck
  eslint.config.mts
Due: none

Fix `vitest/prefer-describe-function-title` lint issues
  tests/validators/isInstanceOf.spec.ts
  tests/validators/isOneOf.spec.ts
Due: eslint, test

Increase `unicorn/prevent-abbreviations` ESLint rule severity
  eslint.config.mts
Due: none

Rename `util.ts` → `utilities.ts`
  src/prop-types/any.ts
  src/prop-types/array.ts
  src/prop-types/boolean.ts
  src/prop-types/date.ts
  src/prop-types/instanceOf.ts
  src/prop-types/integer.ts
  src/prop-types/number.ts
  src/prop-types/object.ts
  src/prop-types/oneOf.ts
  src/prop-types/oneOfTypes.ts
  src/prop-types/string.ts
  src/prop-types/symbol.ts
  src/prop-types/vueComponent.ts
  src/utilities.ts
  type-tests/prop-types/any.type.spec.ts
  type-tests/prop-types/array.type.spec.ts
  type-tests/prop-types/boolean.type.spec.ts
  type-tests/prop-types/date.type.spec.ts
  type-tests/prop-types/function.type.spec.ts
  type-tests/prop-types/instanceOf.type.spec.ts
  type-tests/prop-types/integer.type.spec.ts
  type-tests/prop-types/number.type.spec.ts
  type-tests/prop-types/object.type.spec.ts
  type-tests/prop-types/oneOf.type.spec.ts
  type-tests/prop-types/oneOfObjectKeys.type.spec.ts
  type-tests/prop-types/oneOfTypes.type.spec.ts
  type-tests/prop-types/string.type.spec.ts
  type-tests/prop-types/symbol.type.spec.ts
  type-tests/prop-types/vueComponent.type.spec.ts
  type-tests/utilities.ts
Due: eslint, build, test, type-test

Fix `unicorn/prevent-abbreviations` ESLint rule violations (#861)
  eslint.config.mts
  src/prop-types/any.ts
  src/prop-types/array.ts
  src/prop-types/boolean.ts
  src/prop-types/date.ts
  src/prop-types/instanceOf.ts
  src/prop-types/integer.ts
  src/prop-types/number.ts
  src/prop-types/object.ts
  src/prop-types/oneOf.ts
  src/prop-types/oneOfTypes.ts
  src/prop-types/string.ts
  src/prop-types/symbol.ts
  src/prop-types/vueComponent.ts
  src/utilities.ts
  type-tests/prop-types/any.type.spec.ts
  type-tests/prop-types/array.type.spec.ts
  type-tests/prop-types/boolean.type.spec.ts
  type-tests/prop-types/date.type.spec.ts
  type-tests/prop-types/function.type.spec.ts
  type-tests/prop-types/instanceOf.type.spec.ts
  type-tests/prop-types/integer.type.spec.ts
  type-tests/prop-types/number.type.spec.ts
  type-tests/prop-types/object.type.spec.ts
  type-tests/prop-types/oneOf.type.spec.ts
  type-tests/prop-types/oneOfObjectKeys.type.spec.ts
  type-tests/prop-types/oneOfTypes.type.spec.ts
  type-tests/prop-types/string.type.spec.ts
  type-tests/prop-types/symbol.type.spec.ts
  type-tests/prop-types/vueComponent.type.spec.ts
  type-tests/utilities.ts
Due: eslint, build, test, type-test

Fix `vitest/prefer-describe-function-title` lint issue
  tests/validators/index.spec.ts
Due: eslint, test

Enable new `@typescript-eslint/no-unnecessary-type-conversion` rule
  eslint.config.mts
Due: none

Fix `vitest/prefer-describe-function-title` lint issues
  tests/validators/isInteger.spec.ts
  tests/validators/isNegative.spec.ts
  tests/validators/isNonNegative.spec.ts
  tests/validators/isNonPositive.spec.ts
  tests/validators/isPositive.spec.ts
  tests/validators/isSymbol.spec.ts
Due: eslint, test

Allow `props` abbreviation
  eslint.config.mts
Due: none

Add type tests for Vue's inferred prop types
  type-tests/prop-types/any.type.spec.ts
  type-tests/prop-types/array.type.spec.ts
  type-tests/prop-types/boolean.type.spec.ts
  type-tests/prop-types/date.type.spec.ts
  type-tests/prop-types/function.type.spec.ts
  type-tests/prop-types/instanceOf.type.spec.ts
  type-tests/prop-types/integer.type.spec.ts
  type-tests/prop-types/number.type.spec.ts
  type-tests/prop-types/object.type.spec.ts
  type-tests/prop-types/oneOf.type.spec.ts
  type-tests/prop-types/oneOfObjectKeys.type.spec.ts
  type-tests/prop-types/oneOfTypes.type.spec.ts
  type-tests/prop-types/string.type.spec.ts
  type-tests/prop-types/symbol.type.spec.ts
  type-tests/prop-types/vueComponent.type.spec.ts
Due: eslint, type-test

Update vue to v3.5.15
  package-lock.json
  package.json
Due: none

Fix wrong optional prop types
  src/prop-types/function.ts
  src/types.ts
Due: eslint, build, test, type-test

Fix wrong optional prop types in Vue 3.5.15 (#890)
  eslint.config.mts
  package-lock.json
  package.json
  src/prop-types/function.ts
  src/types.ts
  type-tests/prop-types/any.type.spec.ts
  type-tests/prop-types/array.type.spec.ts
  type-tests/prop-types/boolean.type.spec.ts
  type-tests/prop-types/date.type.spec.ts
  type-tests/prop-types/function.type.spec.ts
  type-tests/prop-types/instanceOf.type.spec.ts
  type-tests/prop-types/integer.type.spec.ts
  type-tests/prop-types/number.type.spec.ts
  type-tests/prop-types/object.type.spec.ts
  type-tests/prop-types/oneOf.type.spec.ts
  type-tests/prop-types/oneOfObjectKeys.type.spec.ts
  type-tests/prop-types/oneOfTypes.type.spec.ts
  type-tests/prop-types/string.type.spec.ts
  type-tests/prop-types/symbol.type.spec.ts
  type-tests/prop-types/vueComponent.type.spec.ts
Due: eslint, build, test, type-test

Version 1.8.1
  package-lock.json
  package.json
Due: none

Update changelog for v1.8.1
  CHANGELOG.md
Due: markdownlint

Disable new rule `vitest/no-importing-vitest-globals`
  eslint.config.mts
Due: none

Disable one of the two new conflicting rules
  eslint.config.mts
Due: none

Remove unnecessary rule disabling
  eslint.config.mts
Due: none

Remove `no-redundant-files` rule from custom config
  eslint.config.mts
Due: none

Migrate to ESLint's `defineConfig`
  eslint.config.mts
Due: none

Migrate `expect(typeof …).toBe(…)` to `expect(…).toBeTypeOf(…)`
  tests/validators/isInstanceOf.spec.ts
  tests/validators/isInteger.spec.ts
  tests/validators/isNegative.spec.ts
  tests/validators/isNonNegative.spec.ts
  tests/validators/isNonPositive.spec.ts
  tests/validators/isOneOf.spec.ts
  tests/validators/isPositive.spec.ts
  tests/validators/isSymbol.spec.ts
Due: eslint, test

Re-enable `immutableCreate`
  .github/workflows/release.yaml
Due: none

Drop Node.js v18 from tests (EOL), add Node.js v24
  .github/workflows/test.yaml
Due: none

Fix `vitest/prefer-called-exactly-once-with` lint issues
  tests/validators/index.spec.ts
Due: eslint, test

Add mock for `vue` default export
  tests/prop-types/any.spec.ts
  tests/prop-types/array.spec.ts
  tests/prop-types/boolean.spec.ts
  tests/prop-types/date.spec.ts
  tests/prop-types/function.spec.ts
  tests/prop-types/instanceOf.spec.ts
  tests/prop-types/integer.spec.ts
  tests/prop-types/number.spec.ts
  tests/prop-types/object.spec.ts
  tests/prop-types/oneOf.spec.ts
  tests/prop-types/oneOfObjectKeys.spec.ts
  tests/prop-types/oneOfTypes.spec.ts
  tests/prop-types/string.spec.ts
  tests/prop-types/symbol.spec.ts
  tests/prop-types/vueComponent.spec.ts
  tests/validators/index.spec.ts
Due: eslint, test

chore: update TSTyche to v5.0.0
  package-lock.json
  package.json
  type-tests/prop-types/any.type.spec.ts
  type-tests/prop-types/array.type.spec.ts
  type-tests/prop-types/boolean.type.spec.ts
  type-tests/prop-types/date.type.spec.ts
  type-tests/prop-types/function.type.spec.ts
  type-tests/prop-types/instanceOf.type.spec.ts
  type-tests/prop-types/integer.type.spec.ts
  type-tests/prop-types/number.type.spec.ts
  type-tests/prop-types/object.type.spec.ts
  type-tests/prop-types/oneOf.type.spec.ts
  type-tests/prop-types/oneOfObjectKeys.type.spec.ts
  type-tests/prop-types/oneOfTypes.type.spec.ts
  type-tests/prop-types/string.type.spec.ts
  type-tests/prop-types/symbol.type.spec.ts
  type-tests/prop-types/vueComponent.type.spec.ts
  type-tests/types.type.spec.ts
Due: eslint, type-test

Update TSTyche to v5.0.0 (#1031)
  package-lock.json
  package.json
  type-tests/prop-types/any.type.spec.ts
  type-tests/prop-types/array.type.spec.ts
  type-tests/prop-types/boolean.type.spec.ts
  type-tests/prop-types/date.type.spec.ts
  type-tests/prop-types/function.type.spec.ts
  type-tests/prop-types/instanceOf.type.spec.ts
  type-tests/prop-types/integer.type.spec.ts
  type-tests/prop-types/number.type.spec.ts
  type-tests/prop-types/object.type.spec.ts
  type-tests/prop-types/oneOf.type.spec.ts
  type-tests/prop-types/oneOfObjectKeys.type.spec.ts
  type-tests/prop-types/oneOfTypes.type.spec.ts
  type-tests/prop-types/string.type.spec.ts
  type-tests/prop-types/symbol.type.spec.ts
  type-tests/prop-types/vueComponent.type.spec.ts
  type-tests/types.type.spec.ts
Due: eslint, type-test

Switch to new stylistic config
  eslint.config.mts
Due: none

Fix security vulnerabilities and deduplicate dependencies
  package-lock.json
Due: none

Add new required properties in package.json
  package.json
Due: none

Switch to `recommended-publishable` config
  eslint.config.mts
Due: none

Add new recommended properties in package.json (#1072)
  eslint.config.mts
  package.json
Due: none

Path conditions:
  eslint: any of: *.{mjs,ts}
  markdownlint: any of: *.md
  build: any of: src/**
  test: any of: {src,tests}/**
  type-test: any of: {src,type-tests}/**
