Repository FloEdelmann/vue-ts-types: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, markdownlint, build, test, type-test

eslint:
  run: npx eslint {staged_files}
  fail_text: Please fix the ESLint issues before committing. Try `npx eslint --fix .`.

markdownlint:
  run: npx markdownlint {staged_files}
  fail_text: Please fix the markdownlint issues before committing. Try `npx markdownlint --fix .`.

build:
  run: npm run build
  fail_text: Please fix the build issues before committing. Try `npm run build`.

test:
  run: npm run test
  fail_text: Please fix the test issues before committing. Try `npm run test:watch`.

type-test:
  run: npm run type-test
  fail_text: Please fix the type test issues before committing. Try `npm run type-test`.

Version 1.8.2
  package-lock.json
  package.json
Due: none

Update changelog for v1.8.2
  CHANGELOG.md
Due: markdownlint

Generate ESM alongside CJS
  package.json
  tsconfig.build.esm.json
  tsconfig.json
Due: none

Remove specialized warning for Vue 2
  src/validators/index.ts
Due: eslint, build, test, type-test

Generate ESM alongside CJS (#1082)
  package.json
  src/validators/index.ts
  tsconfig.build.esm.json
  tsconfig.json
Due: eslint, build, test, type-test

Version 1.9.0
  package-lock.json
  package.json
Due: none

Update changelog for v1.9.0
  CHANGELOG.md
Due: markdownlint

Replace `toThrow` with `toThrowError`
  tests/validators/isInstanceOf.spec.ts
Due: eslint, test

Fix `@typescript-eslint/no-deprecated` lint issues
  eslint.config.mts
  tests/validators/isInstanceOf.spec.ts
Due: eslint, test

Update package-lock dependencies
  package-lock.json
Due: none

Reenable `vitest/no-alias-methods` rule
  eslint.config.mts
Due: none

WIP
  .oxfmtrc.json
  .prettierrc.json
  eslint.config.mts
  lefthook.json
  package-lock.json
  package.json
Due: none

Set explicit permissions on GitHub Actions workflows (#1181)
  .github/workflows/changelog.yaml
  .github/workflows/test.yaml
Due: none

Remove token-based npm publishing, enforce OIDC-only trusted publishing (#1185)
  .github/workflows/release.yaml
Due: none

Rename tstyche.config.json to tstyche.json
  tstyche.json
Due: none

Fix type tests for TypeScript 6.0 compatibility
  type-tests/tsconfig.json
Due: type-test

Run type tests against TypeScript 5.9 and 6.0
  tstyche.json
Due: none

Approve known npm scripts
  package.json
Due: none

Fix security vulnerabilities
  package-lock.json
Due: none

Approve known npm scripts (#1245)
  package-lock.json
  package.json
Due: none

Fix `unicorn/prefer-global-number-constants` lint issues
  tests/validators/isInteger.spec.ts
  tests/validators/isNegative.spec.ts
  tests/validators/isNonNegative.spec.ts
  tests/validators/isNonPositive.spec.ts
  tests/validators/isPositive.spec.ts
Due: eslint, test

Fix `unicorn/prefer-short-arrow-method` lint issues
  type-tests/prop-types/any.type.spec.ts
  type-tests/prop-types/array.type.spec.ts
  type-tests/prop-types/boolean.type.spec.ts
  type-tests/prop-types/date.type.spec.ts
  type-tests/prop-types/function.type.spec.ts
  type-tests/prop-types/instanceOf.type.spec.ts
  type-tests/prop-types/integer.type.spec.ts
  type-tests/prop-types/number.type.spec.ts
  type-tests/prop-types/object.type.spec.ts
  type-tests/prop-types/oneOf.type.spec.ts
  type-tests/prop-types/oneOfObjectKeys.type.spec.ts
  type-tests/prop-types/oneOfTypes.type.spec.ts
  type-tests/prop-types/string.type.spec.ts
  type-tests/prop-types/symbol.type.spec.ts
  type-tests/prop-types/vueComponent.type.spec.ts
Due: eslint, type-test

Extract common variable
  type-tests/prop-types/symbol.type.spec.ts
Due: eslint, type-test

Change "Vue" → "Vue.js" in comments
  eslint.config.mts
  src/prop-types/vueComponent.ts
  src/validators/index.ts
Due: eslint, build, test, type-test

Inline-disable `unicorn/prefer-number-is-safe-integer` lint rule
  src/validators/isInteger.ts
Due: eslint, build, test, type-test

Extract component instantiation into separate variable
  type-tests/prop-types/any.type.spec.ts
  type-tests/prop-types/array.type.spec.ts
  type-tests/prop-types/boolean.type.spec.ts
  type-tests/prop-types/date.type.spec.ts
  type-tests/prop-types/function.type.spec.ts
  type-tests/prop-types/instanceOf.type.spec.ts
  type-tests/prop-types/integer.type.spec.ts
  type-tests/prop-types/number.type.spec.ts
  type-tests/prop-types/object.type.spec.ts
  type-tests/prop-types/oneOf.type.spec.ts
  type-tests/prop-types/oneOfObjectKeys.type.spec.ts
  type-tests/prop-types/oneOfTypes.type.spec.ts
  type-tests/prop-types/string.type.spec.ts
  type-tests/prop-types/symbol.type.spec.ts
  type-tests/prop-types/vueComponent.type.spec.ts
Due: eslint, type-test

Remove outdated comment
  eslint.config.mts
Due: none

Add `isSafeInteger` validator
  README.md
  src/index.ts
  src/validators/isSafeInteger.ts
  tests/validators/isSafeInteger.spec.ts
Due: eslint, markdownlint, build, test, type-test

Add `isSafeInteger` validator (#1246)
  README.md
  src/index.ts
  src/validators/isSafeInteger.ts
  tests/validators/isSafeInteger.spec.ts
Due: eslint, markdownlint, build, test, type-test

Mark internal higher-order validators via JSDoc
  src/validators/isInstanceOf.ts
  src/validators/isOneOf.ts
Due: eslint, build, test, type-test

Export `isInteger` and `isSymbol` validators
  README.md
  src/index.ts
Due: eslint, markdownlint, build, test, type-test

Avoid reexporting from barrel file
  src/prop-types/instanceOf.ts
  src/prop-types/integer.ts
  src/prop-types/oneOf.ts
  src/prop-types/symbol.ts
  src/validators/index.ts
Due: eslint, build, test, type-test

Export `isInteger` and `isSymbol` validators (#1247)
  README.md
  src/index.ts
  src/prop-types/instanceOf.ts
  src/prop-types/integer.ts
  src/prop-types/oneOf.ts
  src/prop-types/symbol.ts
  src/validators/index.ts
  src/validators/isInstanceOf.ts
  src/validators/isOneOf.ts
Due: eslint, markdownlint, build, test, type-test

Add `safeIntegerProp` type
  README.md
  src/index.ts
  src/prop-types/safeInteger.ts
  tests/prop-types/safeInteger.spec.ts
  type-tests/prop-types/safeInteger.type.spec.ts
Due: eslint, markdownlint, build, test, type-test

Add `safeIntegerProp` type (#1248)
  README.md
  src/index.ts
  src/prop-types/safeInteger.ts
  tests/prop-types/safeInteger.spec.ts
  type-tests/prop-types/safeInteger.type.spec.ts
Due: eslint, markdownlint, build, test, type-test

Update GitHub Actions workflows to Node.js v24
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

Update GitHub Actions workflows to Node.js v24 (#1250)
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

Version 1.10.0
  package-lock.json
  package.json
Due: none

Update changelog for v1.10.0
  CHANGELOG.md
Due: markdownlint

Format files with Prettier
  src/types.ts
Due: eslint, build, test, type-test

Path conditions:
  eslint: any of: *.{mjs,ts}
  markdownlint: any of: *.md
  build: any of: src/**
  test: any of: {src,tests}/**
  type-test: any of: {src,type-tests}/**
