Repository FloEdelmann/vue-ts-types: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, markdownlint, build, test, type-test

lefthook.yaml:

pre-commit:
  parallel: true
  commands:
    main-branch-check:
      only:
        - ref: 'main'
      run: 'exit 1'
      fail_text: 'Please switch to another branch before committing. Use `git switch -c <branch-name>`.'
    prettier:
      run: 'npx prettier {staged_files} --check --ignore-unknown'
      fail_text: 'Please fix the formatting issues before committing. Use `npm run format`.'
    eslint:
      glob: '*.{mjs,ts}'
      run: 'npx eslint {staged_files}'
      fail_text: 'Please fix the ESLint issues before committing. Try `npx eslint --fix .`.'
    markdownlint:
      glob: '*.md'
      run: 'npx markdownlint {staged_files}'
      fail_text: 'Please fix the markdownlint issues before committing. Try `npx markdownlint --fix .`.'
    build:
      glob: 'src/**'
      run: 'npm run build'
      fail_text: 'Please fix the build issues before committing. Try `npm run build`.'
    test:
      glob: '{src,tests}/**'
      run: 'npm run test'
      fail_text: 'Please fix the test issues before committing. Try `npm run test:watch`.'
    type-test:
      glob: '{src,type-tests}/**'
      run: 'npm run type-test'
      fail_text: 'Please fix the type test issues before committing. Try `npm run type-test`.'
output:
  - 'summary'
  - 'success'
  - 'failure'
  - 'execution'
  - 'execution_out'
  - 'execution_info'
  - 'skips'

Update changelog for v1.7.0
  CHANGELOG.md
Due: markdownlint

Switch back to CommonJS
  package.json
Due: none

Rename ESLint config .js → .mjs
  eslint.config.mjs
  lefthook.json
Due: eslint

Switch back to CommonJS (#707)
  eslint.config.mjs
  lefthook.json
  package.json
Due: eslint

Version 1.7.1
  package-lock.json
  package.json
Due: none

Update changelog for v1.7.1
  CHANGELOG.md
Due: markdownlint

Recommend watching type tests
  lefthook.json
Due: none

Install Vitest
  package-lock.json
  package.json
Due: none

Uninstall Jest
  .github/dependabot.yaml
  package-lock.json
  package.json
Due: none

Change jest.fn → vi.fn
  tests/validators/index.spec.ts
Due: eslint, test

Update import @jest/globals → vitest
  tests/jest-setup.ts
  tests/prop-types/any.spec.ts
  tests/prop-types/array.spec.ts
  tests/prop-types/boolean.spec.ts
  tests/prop-types/function.spec.ts
  tests/prop-types/instanceOf.spec.ts
  tests/prop-types/integer.spec.ts
  tests/prop-types/number.spec.ts
  tests/prop-types/object.spec.ts
  tests/prop-types/oneOf.spec.ts
  tests/prop-types/oneOfObjectKeys.spec.ts
  tests/prop-types/oneOfTypes.spec.ts
  tests/prop-types/string.spec.ts
  tests/prop-types/symbol.spec.ts
  tests/prop-types/vueComponent.spec.ts
  tests/validators/index.spec.ts
  tests/validators/isInstanceOf.spec.ts
  tests/validators/isInteger.spec.ts
  tests/validators/isNegative.spec.ts
  tests/validators/isNonNegative.spec.ts
  tests/validators/isNonPositive.spec.ts
  tests/validators/isOneOf.spec.ts
  tests/validators/isPositive.spec.ts
  tests/validators/isSymbol.spec.ts
Due: eslint, test

Migrate config
  global.d.ts
  jest.config.ts
  tests/jest-setup.ts
  tsconfig.build.json
  vitest.config.ts
Due: eslint, test

Switch from eslint-plugin-jest to @vitest/eslint-plugin
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint

Add padding lines in tests
  tests/validators/index.spec.ts
Due: eslint, test

Switch from Jest to Vitest (#714)
  .github/dependabot.yaml
  eslint.config.mjs
  global.d.ts
  jest.config.ts
  lefthook.json
  package-lock.json
  package.json
  tests/jest-setup.ts
  tests/prop-types/any.spec.ts
  tests/prop-types/array.spec.ts
  tests/prop-types/boolean.spec.ts
  tests/prop-types/function.spec.ts
  tests/prop-types/instanceOf.spec.ts
  tests/prop-types/integer.spec.ts
  tests/prop-types/number.spec.ts
  tests/prop-types/object.spec.ts
  tests/prop-types/oneOf.spec.ts
  tests/prop-types/oneOfObjectKeys.spec.ts
  tests/prop-types/oneOfTypes.spec.ts
  tests/prop-types/string.spec.ts
  tests/prop-types/symbol.spec.ts
  tests/prop-types/vueComponent.spec.ts
  tests/validators/index.spec.ts
  tests/validators/isInstanceOf.spec.ts
  tests/validators/isInteger.spec.ts
  tests/validators/isNegative.spec.ts
  tests/validators/isNonNegative.spec.ts
  tests/validators/isNonPositive.spec.ts
  tests/validators/isOneOf.spec.ts
  tests/validators/isPositive.spec.ts
  tests/validators/isSymbol.spec.ts
  tsconfig.build.json
  vitest.config.ts
Due: eslint, test

Remove unneeded ts-node dependency
  package-lock.json
  package.json
Due: none

Remove unneeded ts-node dependency (#715)
  package-lock.json
  package.json
Due: none

Fix security vulnerabilities
  package-lock.json
Due: none

Use `@template` in JSDoc to document type parameters
  src/prop-types/any.ts
  src/prop-types/array.ts
  src/prop-types/function.ts
  src/prop-types/instanceOf.ts
  src/prop-types/number.ts
  src/prop-types/object.ts
  src/prop-types/oneOf.ts
  src/prop-types/oneOfObjectKeys.ts
  src/prop-types/oneOfTypes.ts
  src/prop-types/string.ts
Due: eslint, build, test, type-test

Use `@template` in JSDoc to document type parameters (#722)
  src/prop-types/any.ts
  src/prop-types/array.ts
  src/prop-types/function.ts
  src/prop-types/instanceOf.ts
  src/prop-types/number.ts
  src/prop-types/object.ts
  src/prop-types/oneOf.ts
  src/prop-types/oneOfObjectKeys.ts
  src/prop-types/oneOfTypes.ts
  src/prop-types/string.ts
Due: eslint, build, test, type-test

WIP
  eslint.config.mjs
  package-lock.json
  package.json
  src/prop-types/integer.ts
Due: eslint, build, test, type-test

Add new `dateProp` prop type
  README.md
  src/index.ts
  src/prop-types/date.ts
  tests/prop-types/date.spec.ts
  type-tests/prop-types/date.type.spec.ts
Due: eslint, markdownlint, build, test, type-test

Add new `dateProp` prop type (#774)
  README.md
  src/index.ts
  src/prop-types/date.ts
  tests/prop-types/date.spec.ts
  type-tests/prop-types/date.type.spec.ts
Due: eslint, markdownlint, build, test, type-test

Version 1.8.0
  package-lock.json
  package.json
Due: none

Update changelog for v1.8.0
  CHANGELOG.md
Due: markdownlint

Convert ESLint config to TypeScript
  eslint.config.mts
  package-lock.json
  package.json
  tsconfig.build.json
  tsconfig.json
Due: none

Fix type imports in type tests
  type-tests/prop-types/any.type.spec.ts
  type-tests/prop-types/array.type.spec.ts
  type-tests/prop-types/boolean.type.spec.ts
  type-tests/prop-types/date.type.spec.ts
  type-tests/prop-types/function.type.spec.ts
  type-tests/prop-types/instanceOf.type.spec.ts
  type-tests/prop-types/integer.type.spec.ts
  type-tests/prop-types/number.type.spec.ts
  type-tests/prop-types/object.type.spec.ts
  type-tests/prop-types/oneOf.type.spec.ts
  type-tests/prop-types/oneOfObjectKeys.type.spec.ts
  type-tests/prop-types/oneOfTypes.type.spec.ts
  type-tests/prop-types/string.type.spec.ts
  type-tests/prop-types/symbol.type.spec.ts
  type-tests/prop-types/vueComponent.type.spec.ts
Due: eslint, type-test

Convert ESLint config to TypeScript (#777)
  eslint.config.mts
  package-lock.json
  package.json
  tsconfig.build.json
  tsconfig.json
  type-tests/prop-types/any.type.spec.ts
  type-tests/prop-types/array.type.spec.ts
  type-tests/prop-types/boolean.type.spec.ts
  type-tests/prop-types/date.type.spec.ts
  type-tests/prop-types/function.type.spec.ts
  type-tests/prop-types/instanceOf.type.spec.ts
  type-tests/prop-types/integer.type.spec.ts
  type-tests/prop-types/number.type.spec.ts
  type-tests/prop-types/object.type.spec.ts
  type-tests/prop-types/oneOf.type.spec.ts
  type-tests/prop-types/oneOfObjectKeys.type.spec.ts
  type-tests/prop-types/oneOfTypes.type.spec.ts
  type-tests/prop-types/string.type.spec.ts
  type-tests/prop-types/symbol.type.spec.ts
  type-tests/prop-types/vueComponent.type.spec.ts
Due: eslint, type-test

Update nanoid to 3.3.8
  package-lock.json
Due: none

Update nanoid to 3.3.8 (#778)
  package-lock.json
Due: none

Enable new `no-redundant-files` rule
  eslint.config.mts
Due: none

Enable new `require-author` rule
  eslint.config.mts
Due: none

Add new `package-json/require-keywords` rule
  eslint.config.mts
Due: none

Enable new `package-json/require-files` rule
  eslint.config.mts
Due: none

Disable `vitest/require-mock-type-parameters` rule for now
  eslint.config.mts
Due: none

Respect rules disabled by default in the vitest `all` config
  eslint.config.mts
Due: none

Remove disabled by default rules from ESLint config
  eslint.config.mts
Due: none

Re-enable fixed rule
  eslint.config.mts
Due: none
